<ngx-spinner type="ball-beat" [fullScreen]="true"
  ><p style="color: white;" class="lead">Loading...</p></ngx-spinner
>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="purchaseInvoice" (ngSubmit)="onSubmit()">
        <div class="card">
          <div class="card-header text-center">
            <span class="h4">Purchase Invoice</span>
          </div>
          <div class="card-body">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="Invoice_No">Invoice Number</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Invoice Number"
                      formControlName="Invoice_No"
                    />

                    <app-error-message
                      class="d-block w-100"
                      [control]="Invoice_No"
                    ></app-error-message>
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="Date">Date</label>
                    <input
                      type="date"
                      class="form-control"
                      placeholder="Date"
                      formControlName="Date"
                      id="date-input"
                    />

                    <app-error-message
                      class="d-block w-100"
                      [control]="Date"
                    ></app-error-message>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="Supplier_Name">Supplier Name</label>
                    <select
                      class="form-control"
                      formControlName="Supplier_Name"
                      (change)="fetchSupplierDetails($event)"
                    >
                      <option value="">Select Supplier</option>
                      <option
                        value="{{ party._id }}"
                        *ngFor="let party of partyList"
                        >{{ party.Company_Name }}</option
                      >
                    </select>

                    <app-error-message
                      class="d-block w-100"
                      [control]="Supplier_Name"
                    ></app-error-message>
                  </div>

                  <div class="form-group col-sm-4">
                    <label for="Firm_Name">Firm Name</label>
                    <select
                      class="form-control"
                      formControlName="Firm_Name"
                      (change)="fetchFirmDetails($event)"
                    >
                      <option value="">Select Firm</option>
                      <option
                        value="{{ firm._id }}"
                        *ngFor="let firm of firmList"
                        >{{ firm.Company_Name }}</option
                      >
                    </select>

                    <app-error-message
                      class="d-block w-100"
                      [control]="Firm_Name"
                    ></app-error-message>
                  </div>

                  <div class="form-group col-sm-4">
                    <label for="Payment_Type">Payment Type</label>
                    <select
                      class="form-control"
                      formControlName="Payment_Type"
                      (change)="togglePayAccount($event)"
                    >
                      <!-- (change)="togglePayAccount($event)" -->
                      <option value="">Select Payment Type</option>
                      <option
                        value="{{ payment._id }}"
                        *ngFor="let payment of paymentTypeList"
                        >{{ payment.CMC_Name }}</option
                      >
                    </select>

                    <app-error-message
                      class="d-block w-100"
                      [control]="Payment_Type"
                    ></app-error-message>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-6">
                    <label for="Shed_Name">Shed Name</label>
                    <select class="form-control" formControlName="Shed_Name">
                      <option value="">Select Shed</option>
                      <option
                        value="{{ shed._id }}"
                        *ngFor="let shed of shedList"
                        >{{ shed.SHED_Name }}</option
                      >
                    </select>

                    <app-error-message
                      class="d-block w-100"
                      [control]="Shed_Name"
                    ></app-error-message>
                  </div>

                  <div class="form-group col-sm-6">
                    <label for="Taxable">Taxable</label>
                    <select
                      class="form-control"
                      formControlName="Taxable"
                      (change)="setTaxable(TAXABLE.value)"
                      #TAXABLE
                    >
                      <option value="">Select Taxable</option>
                      <option value="1">YES</option>
                      <option value="0">NO</option>
                    </select>

                    <app-error-message
                      class="d-block w-100"
                      [control]="Taxable"
                    ></app-error-message>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <table
                  class="table table-responsive-sm table-hover table-outline mb-0 table-bordered"
                >
                  <tbody formArrayName="productList">
                    <ng-container
                      *ngFor="let item of productGroup.controls; let i = index"
                    >
                      <tr [formGroupName]="i">
                        <td>
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>
                                  <label for="Product_Name">Product Name</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Product Name"
                                    formControlName="Product_Name"
                                  />
                                </td>

                                <td>
                                  <label for="P_QTY">P QTY</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="P QTY"
                                    formControlName="P_QTY"
                                    #PQTY
                                    (change)="
                                      calculateAmount(
                                        PQTY.value,
                                        PRATE.value,
                                        DISCOUNT.value,
                                        i
                                      )
                                    "
                                  />
                                </td>

                                <td>
                                  <label for="P_Rate">P Rate</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="P Rate"
                                    formControlName="P_Rate"
                                    #PRATE
                                    (change)="
                                      calculateAmount(
                                        PQTY.value,
                                        PRATE.value,
                                        DISCOUNT.value,
                                        i
                                      )
                                    "
                                  />
                                </td>

                                <td>
                                  <label for="Free_QTY">Free QTY</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Free QTY"
                                    formControlName="Free_QTY"
                                  />
                                </td>

                                <td>
                                  <label for="Discount">Discount</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Discount"
                                    formControlName="Discount"
                                    #DISCOUNT
                                    (change)="
                                      calculateAmount(
                                        PQTY.value,
                                        PRATE.value,
                                        DISCOUNT.value,
                                        i
                                      )
                                    "
                                  />
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  <label for="CGST">CGST</label>
                                  <ng-container *ngIf="enableIGST">
                                    <input
                                      type="text"
                                      class="form-control"
                                      placeholder="CGST"
                                      formControlName="CGST"
                                      #CGST
                                      (change)="calculateCGST(CGST.value, i)"
                                      readonly
                                    />
                                  </ng-container>

                                  <ng-container *ngIf="!enableIGST">
                                    <input
                                      type="text"
                                      class="form-control"
                                      placeholder="CGST"
                                      formControlName="CGST"
                                      #CGST
                                      (change)="calculateCGST(CGST.value, i)"
                                      [readonly]="!isTaxable"
                                    />
                                  </ng-container>
                                  <hr />
                                  <label for="CGSTAmt">CGST Amt</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="CGST Amount"
                                    formControlName="CGST_Amt"
                                    readonly
                                  />
                                </td>

                                <td>
                                  <label for="SGST">SGST</label>
                                  <ng-container *ngIf="enableIGST">
                                    <input
                                      type="text"
                                      class="form-control"
                                      placeholder="SGST"
                                      formControlName="SGST"
                                      #SGST
                                      (change)="calculateSGST(SGST.value, i)"
                                      readonly
                                    />
                                  </ng-container>

                                  <ng-container *ngIf="!enableIGST">
                                    <input
                                      type="text"
                                      class="form-control"
                                      placeholder="SGST"
                                      formControlName="SGST"
                                      #SGST
                                      (change)="calculateSGST(SGST.value, i)"
                                      [readonly]="!isTaxable"
                                    />
                                  </ng-container>
                                  <hr />
                                  <label for="SGSTAmt">SGST Amt</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="SGST Amount"
                                    formControlName="SGST_Amt"
                                    readonly
                                  />
                                </td>

                                <td>
                                  <label for="IGST">IGST</label>
                                  <ng-container *ngIf="enableIGST">
                                    <input
                                      type="text"
                                      class="form-control"
                                      placeholder="IGST"
                                      formControlName="IGST"
                                      #IGST
                                      (change)="calculateIGST(IGST.value, i)"
                                      [readonly]="!isTaxable"
                                    />
                                  </ng-container>

                                  <ng-container *ngIf="!enableIGST">
                                    <input
                                      type="text"
                                      class="form-control"
                                      placeholder="IGST"
                                      formControlName="IGST"
                                      #IGST
                                      (change)="calculateIGST(IGST.value, i)"
                                      readonly
                                    />
                                  </ng-container>
                                  <hr />
                                  <label for="IGSTAmt">IGST Amt</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="IGST Amount"
                                    formControlName="IGST_Amt"
                                    readonly
                                  />
                                </td>

                                <td colspan="2">
                                  <label for="Net_Amt">Net Amt</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Net Amt"
                                    formControlName="Net_Amt"
                                    readonly
                                  />
                                </td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td class="text-right" colspan="5">
                                  <button
                                    type="button"
                                    class="btn btn-danger"
                                    (click)="removeProduct(i)"
                                  >
                                    <i class="fa fa-remove"></i>
                                  </button>
                                </td>
                              </tr>
                            </tfoot>
                          </table>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>

              <div class="card-footer text-right">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="addProduct()"
                >
                  <i class="fa fa-plus"></i> Add Product
                </button>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="Taxable_Amount">Taxable Amount</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Taxable Amount"
                      formControlName="Taxable_Amount"
                      readonly
                    />
                  </div>

                  <div class="form-group col-sm-4">
                    <label for="Total_GST_Amt">Total GST Amount</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Total GST Amount"
                      formControlName="Total_GST_Amt"
                      readonly
                    />
                  </div>

                  <div class="form-group col-sm-4">
                    <label for="Add">Add</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Add"
                      formControlName="Add"
                      (change)="calculateGrandTotal($event, 1)"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="Less">Less</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Less"
                      formControlName="Less"
                      (change)="calculateGrandTotal($event, 2)"
                    />
                  </div>

                  <div class="form-group col-sm-4">
                    <label for="Round_Off">Round Off</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Round Off"
                      formControlName="Round_Off"
                      readonly
                    />
                  </div>

                  <div class="form-group col-sm-4">
                    <label for="Grand_Total">Grand Total</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Grand Total"
                      formControlName="Grand_Total"
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="form-group col-sm-3">
                    <label for="Pay_From_Acc">Pay From Account</label>
                    <select
                      class="form-control"
                      formControlName="Pay_From_Acc"
                    >
                      <option value="">Select Pay From Account</option>
                      <!-- <option value="N/A" *ngIf="showNA">N/A</option> -->
                      <option
                        value="{{ account._id }}"
                        *ngFor="let account of accountList"
                        >{{ account.Bank_Name }}</option
                      >
                    </select>

                    <app-error-message
                      class="d-block w-100"
                      [control]="Pay_From_Acc"
                    ></app-error-message>
                  </div>

                  <div class="form-group col-sm-3">
                    <label for="Paid_By">Paid By</label>
                    <select
                      class="form-control"
                      formControlName="Paid_By"
                      (change)="setPaidByCheque(PAIDBY.value)"
                      #PAIDBY
                    >
                      <option value="">Select Paid By</option>
                      <option
                        value="{{ paid._id }}"
                        *ngFor="let paid of paidByList"
                        >{{ paid.CMC_Name }}</option
                      >
                    </select>

                    <app-error-message
                      class="d-block w-100"
                      [control]="Paid_By"
                    ></app-error-message>
                  </div>

                  <div class="form-group col-sm-3">
                    <label for="Cheque_No">Cheque No</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Cheque No"
                      formControlName="Cheque_No"
                      [readonly]="!ispaidByCheque"
                    />

                    <app-error-message
                      class="d-block w-100"
                      [control]="Cheque_No"
                    ></app-error-message>
                  </div>

                  <div class="form-group col-sm-3">
                    <label for="Cheque_Date">Cheque Date</label>
                    <input
                      type="date"
                      class="form-control"
                      placeholder="Cheque Date"
                      formControlName="Cheque_Date"
                      id="date-input"
                      [readonly]="!ispaidByCheque"
                    />

                    <app-error-message
                      class="d-block w-100"
                      [control]="Cheque_Date"
                    ></app-error-message>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer text-center">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!purchaseInvoice.valid"
            >
              <i class="fa fa-dot-circle-o"></i> {{ buttonText }}
            </button>

            <button type="button" class="btn btn-danger" (click)="onCancel()">
              <i class="fa fa-ban"></i> Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
