<div class="modal-body text-center">
  <button
    type="button"
    printSectionId="print-section"
    class="btn btn-info font-weight-bolder"
    [useExistingCss]="true"
    ngxPrint
  >
    Print Invoice
  </button>

  <button
    type="button"
    class="btn btn-warning font-weight-bolder"
    (click)="bsModalRef.hide()"
  >
    Cancel
  </button>

  <div
    id="print-section"
    class="table-responsive-sm pl-5 pr-5"
    width="2480"
    height="3508"
  >
    <div class="text-center pt-2" style="background-color: white">
      <b>TAX INVOICE</b>
    </div>
    <div class="border-bottom border p-3">
      <div class="row border-bottom">
        <!-- <div class="col-1">
          <img
            class="mt-0 ml-3"
            src="../../../assets/design3-logo.jpeg"
            height="150"
            width="100"
          />
        </div> -->
        <div class="col-12">
          <div class="text-center display-4 font-weight-bolder">
            <h1>{{ salesInvoiceDetails.Firm_Name }}</h1>
          </div>
          <div class="text-center">
            <h4>{{ salesInvoiceDetails.Firm_Address }}</h4>
          </div>
          <div class="text-center">
            <h5>
              <b>Contact No :- </b>
              <span class="pl-1 pr-1"
                >{{ salesInvoiceDetails.Firm_Mobile }},</span
              >
              <span class="pl-1 pr-1">{{
                salesInvoiceDetails.Firm_Alternate_No
              }}</span>

              <b>Mail Id :- </b>{{ salesInvoiceDetails.Firm_Email_ID }}
            </h5>
          </div>
        </div>
      </div>
      <div class="row border-bottom pt-1 pb-1">
        <div class="col-4 text-center">
          <h5>
            <b
              >GSTN NO :-
              <span class="ml-1 mr-1">{{
                salesInvoiceDetails.Firm_GST_No
              }}</span></b
            >
          </h5>
        </div>
        <div class="col-4"></div>
        <div class="col-4 text-center">
          <h5>
            <b
              >PAN NO :-
              <span class="ml-1 mr-1">{{
                salesInvoiceDetails.Firm_Pan_No
              }}</span></b
            >
          </h5>
        </div>
      </div>
      <div class="row border-bottom">
        <div class="col-8 border-right">
          <div class="row pl-4 pt-1">
            <h5>
              <b><i>To,</i></b>
            </h5>
          </div>
          <div class="row pl-4 pt-2">
            <h4>
              <b>{{ salesInvoiceDetails.Party_Name }}</b>
            </h4>
          </div>
          <div class="row pl-4 pt-2">
            <h5>{{ salesInvoiceDetails.Party_Address }}</h5>
          </div>
          <div class="row pl-1 pt-2">
            <div class="col-6">
              <h5>
                <strong>GSTN :</strong>
                <span class="ml-1 mr-1">{{
                  salesInvoiceDetails.Party_GST_No
                }}</span>
              </h5>
            </div>
            <div class="col-6">
              <h5>
                <strong>PAN :</strong>
                <span class="ml-1 mr-1">{{
                  salesInvoiceDetails.Party_Pan_No
                }}</span>
              </h5>
            </div>
          </div>
          <div class="row pl-3 pt-2 pb-1">
            <div class="col-6">
              <h5>
                <strong>STATE & CODE :</strong>
                <span class="ml-1 mr-1">{{
                  salesInvoiceDetails.Party_State_Code
                }}</span>
              </h5>
            </div>
            <!-- <div class="col-6">
                <strong>CODE :</strong>
                <span class="ml-1 mr-1">{{
                  salesInvoiceDetails.Party_State_Code
                }}</span>
              </div> -->
          </div>
        </div>
        <div class="col-4">
          <div class="row pl-4 pt-2"></div>
          <div class="row pl-4 pt-2">
            <h5>
              <strong>INVOICE NO : </strong>
              <span class="ml-2 mr-1">{{
                salesInvoiceDetails.Invoice_No
              }}</span>
            </h5>
          </div>
          <div class="row pl-4 pt-2">
            <h5>
              <strong>DATE : </strong>
              <span class="ml-2 mr-1">{{
                salesInvoiceDetails.Date | date: "dd/MM/yyyy"
              }}</span>
            </h5>
          </div>

          <div class="row pl-4 pt-2">
            <h5><strong>BROKER :</strong></h5>
          </div>
          <div class="row pl-4 pt-2">
            <h5>{{ salesInvoiceDetails.Broker_Name }}</h5>
          </div>
        </div>
      </div>
      <div class="row border-bottom pt-2 pb-2">
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">SLIP NO</h6>
        </div>
        <div class="col-3 text-center">
          <h6 class="font-weight-bolder">PERTICULARS</h6>
        </div>
        <div class="col-1 text-center">
          <h6 class="font-weight-bolder">PIECES</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">METERS</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">RATE</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">AMOUNT</h6>
        </div>
      </div>
      <div class="row pt-4 pb-5">
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">{{ salesInvoiceDetails.DC_NO }}</h6>
        </div>
        <div class="col-3 text-center">
          <div class="row text-left pl-3">
            <h6 class="font-weight-bolder">
              {{ salesInvoiceDetails.Quality }}
            </h6>
          </div>
          <div class="row text-left pt-1 pl-3">
            <strong class="font-weight-bolder">LOOM NO: </strong>
            <span class="mr-1 ml-1 font-weight-bolder">{{
              salesInvoiceDetails.Loom_No
            }}</span>
          </div>
          <div class="row text-left pt-1 pl-3">
            <strong class="font-weight-bolder">HSN NO: </strong>
            <span class="mr-1 ml-1 font-weight-bolder">{{
              salesInvoiceDetails.HSN_NO
            }}</span>
          </div>
        </div>
        <div class="col-1 text-center">
          <h6 class="font-weight-bolder">
            {{ salesInvoiceDetails.No_Of_Pieces }}
          </h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">
            {{ salesInvoiceDetails.Total_Meters }}
          </h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">{{ salesInvoiceDetails.Rate }}</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">
            {{ salesInvoiceDetails.Total_Amount }}
          </h6>
        </div>
      </div>
      <div class="row pt-5 pb-4"></div>
      <div class="row border-top pt-3 pb-1">
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">ADD</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">PACKING</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">CHECKING</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">OTHER</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">ADD :</h6>
        </div>
      </div>
      <div class="row border-bottom pt-1 pb-1">
        <div class="col-2 text-center"></div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">{{ salesInvoiceDetails.Packing }}</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">{{ salesInvoiceDetails.Checking }}</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">
            {{ salesInvoiceDetails.Packing_Other }}
          </h6>
        </div>
        <div class="col-2 text-center"></div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">{{ salesInvoiceDetails.ADD }}</h6>
        </div>
      </div>

      <div class="row pt-3 pb-1">
        <div class="col-1 text-center">
          <h6 class="font-weight-bolder">LESS</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">SECAND</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">T.P</h6>
        </div>
        <div class="col-1 text-center">
          <h6 class="font-weight-bolder">S.L</h6>
        </div>
        <div class="col-1 text-center">
          <h6 class="font-weight-bolder">FOLD</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">OTHER</h6>
        </div>
        <div class="col-1 text-center">
          <h6 class="font-weight-bolder">LESS :</h6>
        </div>
      </div>
      <div class="row border-bottom pt-1 pb-1">
        <div class="col-1 text-center"></div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">{{ salesInvoiceDetails.Second }}</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">{{ salesInvoiceDetails.TP }}</h6>
        </div>
        <div class="col-1 text-center">
          <h6 class="font-weight-bolder">{{ salesInvoiceDetails.SL }}</h6>
        </div>
        <div class="col-1 text-center">
          <h6 class="font-weight-bolder">{{ salesInvoiceDetails.FOLD }}</h6>
        </div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">
            {{ salesInvoiceDetails.Second_Other }}
          </h6>
        </div>
        <div class="col-1 text-center"></div>
        <div class="col-2 text-center">
          <h6 class="font-weight-bolder">{{ salesInvoiceDetails.LESS }}</h6>
        </div>
      </div>

      <div class="row border-bottom">
        <div class="col-7">
          <div class="row pl-4 pt-2 pb-1">
            <span class="font-weight-bolder">AMOUNT IN WORDS</span>
          </div>
          <div class="row pl-4 pt-2 pb-2">
            <h5 class="font-weight-bolder">
              {{ salesInvoiceDetails.Amount_in_Words | uppercase }}
            </h5>
          </div>
          <div class="row pl-4 pt-2">
            <div class="col-6">
              <div class="row ml-4 pt-2 font-weight-bolder">BANK DETAILS</div>
              <hr />
              <div class="row ml-4">
                <h6 class="font-weight-bolder">
                  {{ salesInvoiceDetails.Bank_Name }}
                </h6>
              </div>
              <div class="row ml-4">
                <h6 class="font-weight-bolder">
                  {{ salesInvoiceDetails.Account_No }}
                </h6>
              </div>
              <div class="row ml-4">
                <h6 class="font-weight-bolder">
                  {{ salesInvoiceDetails.IFSC_Code }}
                </h6>
              </div>
            </div>
            <div class="col-6">
              <div class="row ml-4 pt-2 font-weight-bolder">PAYMENT DUE</div>
              <hr />
              <div class="row ml-4 font-weight-bolder">
                30 Day's From Invoice
              </div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="row border-left border-bottom pt-1 pb-1 pr-2">
            <div class="col-8 border-right font-weight-bolder">
              CD @ {{ salesInvoiceDetails.CD_Percent }} %
            </div>
            <div class="col-4 text-right font-weight-bolder">
              {{ salesInvoiceDetails.CD_Amount }}
            </div>
          </div>
          <div class="row border-left border-bottom pt-1 pb-1 pr-2">
            <div class="col-8 border-right font-weight-bolder">
              TAXABLE AMOUNT
            </div>
            <div class="col-4 text-right font-weight-bolder">
              {{ salesInvoiceDetails.Taxable_Amount }}
            </div>
          </div>
          <div class="row border-left border-bottom pt-1 pb-1 pr-2">
            <div class="col-8 border-right font-weight-bolder">
              CGST @ {{ salesInvoiceDetails.CGST }}
            </div>
            <div class="col-4 text-right font-weight-bolder">
              {{ salesInvoiceDetails.CGST_Amt }}
            </div>
          </div>
          <div class="row border-left border-bottom pt-1 pb-1 pr-2">
            <div class="col-8 border-right font-weight-bolder">
              SGST @ {{ salesInvoiceDetails.SGST }}
            </div>
            <div class="col-4 text-right font-weight-bolder">
              {{ salesInvoiceDetails.SGST_Amt }}
            </div>
          </div>
          <div class="row border-left border-bottom pt-1 pb-1 pr-2">
            <div class="col-8 border-right font-weight-bolder">
              IGST @ {{ salesInvoiceDetails.IGST }}
            </div>
            <div class="col-4 text-right font-weight-bolder">
              {{ salesInvoiceDetails.IGST_Amt }}
            </div>
          </div>
          <div class="row border-left border-bottom pt-1 pb-1 pr-2">
            <div class="col-8 border-right font-weight-bolder">R/OFF</div>
            <div class="col-4 text-right font-weight-bolder">
              {{ salesInvoiceDetails.Round_Off }}
            </div>
          </div>

          <div class="row border-left border-bottom pt-1 pb-1 pr-2">
            <div class="col-8 border-right">
              <b class="font-weight-bolder">GRAND TOTAL</b>
            </div>
            <div class="col-4 text-right font-weight-bolder">
              ₹ {{ salesInvoiceDetails.Grand_Total }}
            </div>
          </div>
        </div>
      </div>

      <div class="row pl-3 pt-3"><h2>THANK YOU FOR YOUR BUSINESS</h2></div>
      <div class="row pt-2 pl-3 pt-1"><b>TERMS & CONDITIONS :</b></div>

      <div class="row pt-2 pl-3">
        <div class="col-7">
          1. Don't pay cash or goods to Agent. 2. Goods once's sold will not be
          taken back. 3. Payment is requested by payee A/c Draft only. 4. 18%
          interest will be charged on the net amount after due date. 5. All our
          responsibility ceases as goods leave our godown premises
        </div>
      </div>
      <div class="row pt-3 pl-3 text-center">
        <div class="col-6 font-weight-bolder">
          <b>Subject To Ichalkaranji Jurisdiction</b>
        </div>
        <div class="col-6">
          <b class="font-weight-bolder">FOR :- </b>
          <br />
          <b class="font-weight-bolder">{{ salesInvoiceDetails.Firm_Name }} </b>
        </div>
      </div>
      <div class="row pt-4 pb-1 pl-3 text-center">
        <div class="col-6">
          <b class="font-weight-bolder">E. & O.E.</b>
        </div>
        <div class="col-6">
          <b class="font-weight-bolder">PROPRIETOR</b>
          <b></b>
        </div>
      </div>
    </div>
    <div class="row text-center p-3" style="background-color: white">
      <div class="col-12"><b>THIS IS COMPUTER GENERATED INVOICE</b></div>
    </div>
  </div>
</div>
