<div class="modal-body text-center">
  <button
    type="button"
    printSectionId="print-section"
    class="btn btn-info font-weight-bolder"
    [useExistingCss]="true"
    ngxPrint
  >
    Print Invoice
  </button>

  <button
    type="button"
    class="btn btn-warning font-weight-bolder"
    (click)="bsModalRef.hide()"
  >
    Cancel
  </button>

  <div id="print-section" class="table-responsive-sm d-none">
    <img
      width="892"
      height="1262"
      src="../../../assets/img/target001.png"
      alt="background image"
    />

    <h2 class="font-weight-bold position-absolute text-white firm-name">
      {{ salesInvoiceDetails.Firm_Name }}
    </h2>

    <h6 class="font-weight-bold position-absolute firm-address">
      {{ salesInvoiceDetails.Firm_Address }}
    </h6>

    <div class="row contact-pan position-absolute">
      <div class="col font-weight-bold text-center border-right border-white">
        <p class="mb-0">CONTACT NO</p>
        <p class="mb-0">
          {{ salesInvoiceDetails.Firm_Mobile }},
          {{ salesInvoiceDetails.Firm_Alternate_No }}
        </p>
      </div>

      <div class="col font-weight-bold text-left">
        <p class="mb-0">GSTIN:-&nbsp;{{ salesInvoiceDetails.Firm_GST_No }}</p>
        <p class="mb-0">PAN NO:-&nbsp;{{ salesInvoiceDetails.Firm_Pan_No }}</p>
      </div>
    </div>

    <div class="row invoice-to position-absolute">
      <div class="col-md-12">
        <h5 class="font-weight-bold">I N V O I C E &nbsp;&nbsp; T O</h5>

        <h5 class="font-weight-bold to-company">
          {{ salesInvoiceDetails.Party_Name }}
        </h5>
        <p class="w-75">
          {{ salesInvoiceDetails.Party_Address }}
        </p>

        <p class="mb-0">
          <strong>GSTIN: </strong>{{ salesInvoiceDetails.Party_GST_No }}
        </p>
        <p class="mb-0">
          <strong>PAN NO: </strong>{{ salesInvoiceDetails.Party_Pan_No }}
        </p>
        <p class="mb-0">
          <strong>STATE & CODE: </strong
          >{{ salesInvoiceDetails.Party_State_Code }}
        </p>
      </div>
    </div>

    <h2 class="total-due position-absolute">
      TOTAL DUE: ₹ {{ salesInvoiceDetails.Total_Due }}
    </h2>

    <div class="row total-due-footer position-absolute">
      <div class="col-md-12">
        <p class="mb-0">
          <strong>INVOICE NO: </strong
          ><span class="total-due-color">{{
            salesInvoiceDetails.Invoice_No
          }}</span>
          &nbsp; <strong>DATE: </strong
          ><span class="total-due-color">{{
            salesInvoiceDetails.Date | date: "MM/dd/yyyy"
          }}</span>
        </p>
        <p class="mb-0">
          <strong>PLACE OF DELIVERY: </strong
          ><span class="total-due-color">{{
            salesInvoiceDetails.Place_of_Delivery
          }}</span>
        </p>
        <p class="mb-0">
          <strong>BROKER: </strong
          ><span class="total-due-color">{{
            salesInvoiceDetails.Broker_Name
          }}</span>
        </p>
      </div>
    </div>

    <p class="font-weight-bold position-absolute slipno h6 d-inline">
      SLIP NO
    </p>
    <p class="font-weight-bold position-absolute perticulars h6 d-inline">
      PARTICULARS
    </p>
    <p class="font-weight-bold position-absolute pieces h6 d-inline">
      PIECES
    </p>
    <p class="font-weight-bold position-absolute meters h6 d-inline">
      METERS
    </p>
    <p class="font-weight-bold position-absolute rate h6 d-inline">
      RATE
    </p>
    <p class="font-weight-bold position-absolute amount h6 d-inline">
      AMOUNT
    </p>

    <p class="font-weight-bold position-absolute slipnovalue h6 d-inline">
      {{ salesInvoiceDetails.DC_NO }}
    </p>
    <p
      class="font-weight-bold position-absolute perticularsvalue h6 d-inline w-25"
    >
      {{ salesInvoiceDetails.Quality }} <br /><br />
      LOOM NO :-
      <span class="font-weight-normal">{{ salesInvoiceDetails.Loom_No }}</span>
      <br /><br />
      HSN :-
      <span class="font-weight-normal">{{ salesInvoiceDetails.HSN_NO }}</span>
    </p>
    <p class="font-weight-bold position-absolute piecesvalue h6 d-inline">
      {{ salesInvoiceDetails.No_Of_Pieces }}
    </p>
    <p class="font-weight-bold position-absolute metersvalue h6 d-inline">
      {{ salesInvoiceDetails.Total_Meters }}
    </p>
    <p class="font-weight-bold position-absolute ratevalue h6 d-inline">
      {{ salesInvoiceDetails.Rate }}
    </p>
    <p class="font-weight-bold position-absolute amountvalue h6 d-inline">
      {{ salesInvoiceDetails.Total_Amount }}
    </p>

    <p class="font-weight-bold position-absolute add h6 d-inline">
      ADD
    </p>
    <p class="font-weight-bold position-absolute packing h6 d-inline">
      PACKING <br />
      <span class="font-weight-normal">{{ salesInvoiceDetails.Packing }}</span>
    </p>
    <p class="font-weight-bold position-absolute checking h6 d-inline">
      CHECKING <br />
      <span class="font-weight-normal">{{ salesInvoiceDetails.Checking }}</span>
    </p>
    <p class="font-weight-bold position-absolute other h6 d-inline">
      OTHER <br />
      <span class="font-weight-normal">{{
        salesInvoiceDetails.Packing_Other
      }}</span>
    </p>
    <p class="font-weight-bold position-absolute addamt h6 d-inline">
      ADD: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
        salesInvoiceDetails.ADD
      }}
    </p>

    <p class="font-weight-bold position-absolute less h6 d-inline">
      LESS
    </p>
    <p class="font-weight-bold position-absolute second h6 d-inline">
      SECOND <br />
      <span class="font-weight-normal">{{ salesInvoiceDetails.Second }}</span>
    </p>
    <p class="font-weight-bold position-absolute tp h6 d-inline">
      T.P. <br />
      <span class="font-weight-normal">{{ salesInvoiceDetails.TP }}</span>
    </p>
    <p class="font-weight-bold position-absolute sl h6 d-inline">
      S.L. <br />
      <span class="font-weight-normal">{{ salesInvoiceDetails.SL }}</span>
    </p>
    <p class="font-weight-bold position-absolute fold h6 d-inline">
      FOLD <br />
      <span class="font-weight-normal">{{ salesInvoiceDetails.FOLD }}</span>
    </p>
    <p class="font-weight-bold position-absolute lessother h6 d-inline">
      OTHER <br />
      <span class="font-weight-normal">{{
        salesInvoiceDetails.Second_Other
      }}</span>
    </p>
    <p class="font-weight-bold position-absolute lessamt h6 d-inline">
      LESS: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
        salesInvoiceDetails.LESS
      }}
    </p>

    <p class="taxable-amt position-absolute h5 font-weight-normal">
      TAXABLE AMOUNT: {{ salesInvoiceDetails.Taxable_Amount }}
    </p>

    <div class="row position-absolute gst">
      <div class="col-md-12">
        <p class="mb-0">
          CGST @ {{ salesInvoiceDetails.CGST }} &nbsp;&nbsp;&nbsp;&nbsp;{{
            salesInvoiceDetails.CGST_Amt
          }}
        </p>
        <p class="mb-0">
          SGST @ {{ salesInvoiceDetails.SGST }} &nbsp;&nbsp;&nbsp;&nbsp;{{
            salesInvoiceDetails.SGST_Amt
          }}
        </p>
        <p class="mb-0">
          IGST @
          {{ salesInvoiceDetails.IGST }}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
            salesInvoiceDetails.IGST_Amt
          }}
        </p>
        <p class="mb-0">
          R / OFF
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
            salesInvoiceDetails.Round_Off
          }}
        </p>
      </div>
    </div>

    <p class="grandtotal position-absolute h5 font-weight-normal">
      GRAND TOTAL &nbsp;&nbsp;₹ {{ salesInvoiceDetails.Grand_Total }}
    </p>

    <div class="row position-absolute amt-words-div w-75">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 mb-2">
            <h5 class="amtwrd">AMOUNT IN WORDS</h5>
            <h5>
              {{ salesInvoiceDetails.Amount_in_Words | uppercase }}
            </h5>
          </div>

          <div class="col-md-12">
            <div class="row bank-details">
              <div class="col-md-6">
                <h5 class="font-weight-normal">BANK DETAILS</h5>
                <h6 class="font-weight-bold bank-name">
                  {{ salesInvoiceDetails.Bank_Name }}
                </h6>
                <h6 class="font-weight-normal">
                  ACCOUNT NO: {{ salesInvoiceDetails.Account_No }}
                </h6>
                <h6 class="font-weight-normal">
                  IFSC: {{ salesInvoiceDetails.IFSC_Code }}
                </h6>
              </div>

              <div class="col-md-6">
                <h5 class="font-weight-normal">PAYMENT DUE</h5>
                <h5 class="font-weight-bold bank-name">
                  30 Day's From Invoice
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 class="position-absolute thnku">THANK YOU FOR YOUR BUSINESS !</h3>
    <h6 class="position-absolute font-weight-bold tandc">
      TERMS & CONDITIONS :
    </h6>
    <p class="position-absolute mt-2 w-50 tandcvalue">
      1. Don't pay cash or goods to Agent. 2. Goods once's sold will not be
      taken back. 3. Payment is requested by payee A/c Draft only. 4. 18%
      interest will be charged on the net amount after due date. 5. All our
      responsibility ceases as goods leave our godown premises
    </p>
    <h6 class="position-absolute font-weight-bold subjecto">
      * Subject to Ichalkaranji Jurisdiction
    </h6>

    <p class="eoe position-absolute">E. & O.E</p>

    <h6 class="position-absolute font-weight-normal checkedby">
      Checked By
    </h6>

    <h6 class="position-absolute font-weight-bold for">
      FOR
    </h6>

    <h5 class="position-absolute font-weight-normal forvalue">
      {{ salesInvoiceDetails.Firm_Name }}
    </h5>

    <h6 class="position-absolute font-weight-bold proprietor">
      PROPRIETOR
    </h6>
  </div>
</div>

<!-- <div class="modal-dialog modal-lg modal-info" role="document">
  <div class="modal-content m-auto">
    <div class="modal-header">
      <button
        type="button"
        printSectionId="print-section"
        class="btn btn-dark"
        [useExistingCss]="true"
        ngxPrint
      >
        Print Invoice
      </button>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="bsModalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body d-none">
      <div id="print-section" class="table-responsive-sm">
        <img
          width="892"
          height="1262"
          src="../../../assets/img/target001.png"
          alt="background image"
        />

        <h2 class="font-weight-bold position-absolute text-white firm-name">
          {{ salesInvoiceDetails.Firm_Name }}
        </h2>

        <h6 class="font-weight-bold position-absolute firm-address">
          {{ salesInvoiceDetails.Firm_Address }}
        </h6>

        <div class="row contact-pan position-absolute">
          <div
            class="col font-weight-bold text-center border-right border-white"
          >
            <p class="mb-0">CONTACT NO</p>
            <p class="mb-0">
              {{ salesInvoiceDetails.Firm_Mobile }},
              {{ salesInvoiceDetails.Firm_Alternate_No }}
            </p>
          </div>

          <div class="col font-weight-bold text-left">
            <p class="mb-0">
              GSTIN:-&nbsp;{{ salesInvoiceDetails.Firm_GST_No }}
            </p>
            <p class="mb-0">
              PAN NO:-&nbsp;{{ salesInvoiceDetails.Firm_Pan_No }}
            </p>
          </div>
        </div>

        <div class="row invoice-to position-absolute">
          <div class="col-md-12">
            <h5 class="font-weight-bold">I N V O I C E &nbsp;&nbsp; T O</h5>

            <h5 class="font-weight-bold to-company">
              {{ salesInvoiceDetails.Party_Name }}
            </h5>
            <p class="w-75">
              {{ salesInvoiceDetails.Party_Address }}
            </p>

            <p class="mb-0">
              <strong>GSTIN: </strong
              >{{ salesInvoiceDetails.Party_GST_No }} &nbsp;
              <strong>STATE & CODE: </strong
              >{{ salesInvoiceDetails.Party_State_Code }}
            </p>
            <p class="mb-0">
              <strong>PAN NO: </strong>{{ salesInvoiceDetails.Party_Pan_No }}
            </p>
          </div>
        </div>

        <h2 class="total-due position-absolute">
          TOTAL DUE: ₹ {{ salesInvoiceDetails.Total_Due }}
        </h2>

        <div class="row total-due-footer position-absolute">
          <div class="col-md-12">
            <p class="mb-0">
              <strong>INVOICE NO: </strong
              ><span class="total-due-color">{{
                salesInvoiceDetails.Invoice_No
              }}</span>
              &nbsp; <strong>DATE: </strong
              ><span class="total-due-color">{{
                salesInvoiceDetails.Date | date: "MM/dd/yyyy"
              }}</span>
            </p>
            <p class="mb-0">
              <strong>PLACE OF DELIVERY: </strong
              ><span class="total-due-color">XXX</span>
            </p>
            <p class="mb-0">
              <strong>BROKER: </strong
              ><span class="total-due-color">{{
                salesInvoiceDetails.Broker_Name
              }}</span>
            </p>
          </div>
        </div>

        <p class="font-weight-bold position-absolute slipno h6 d-inline">
          SLIP NO
        </p>
        <p class="font-weight-bold position-absolute perticulars h6 d-inline">
          PARTICULARS
        </p>
        <p class="font-weight-bold position-absolute pieces h6 d-inline">
          PIECES
        </p>
        <p class="font-weight-bold position-absolute meters h6 d-inline">
          METERS
        </p>
        <p class="font-weight-bold position-absolute rate h6 d-inline">
          RATE
        </p>
        <p class="font-weight-bold position-absolute amount h6 d-inline">
          AMOUNT
        </p>

        <p class="font-weight-bold position-absolute slipnovalue h6 d-inline">
          {{ salesInvoiceDetails.DC_NO }}
        </p>
        <p
          class="font-weight-bold position-absolute perticularsvalue h6 d-inline w-25"
        >
          {{ salesInvoiceDetails.Quality }} <br /><br />
          LOOM NO :-
          <span class="font-weight-normal">{{
            salesInvoiceDetails.Loom_No
          }}</span>
          <br /><br />
          HSN :-
          <span class="font-weight-normal">{{
            salesInvoiceDetails.HSN_NO
          }}</span>
        </p>
        <p class="font-weight-bold position-absolute piecesvalue h6 d-inline">
          {{ salesInvoiceDetails.No_Of_Pieces }}
        </p>
        <p class="font-weight-bold position-absolute metersvalue h6 d-inline">
          {{ salesInvoiceDetails.Total_Meters }}
        </p>
        <p class="font-weight-bold position-absolute ratevalue h6 d-inline">
          {{ salesInvoiceDetails.Rate }}
        </p>
        <p class="font-weight-bold position-absolute amountvalue h6 d-inline">
          {{ salesInvoiceDetails.Total_Amount }}
        </p>

        <p class="font-weight-bold position-absolute add h6 d-inline">
          ADD
        </p>
        <p class="font-weight-bold position-absolute packing h6 d-inline">
          PACKING <br />
          <span class="font-weight-normal">{{
            salesInvoiceDetails.Packing
          }}</span>
        </p>
        <p class="font-weight-bold position-absolute checking h6 d-inline">
          CHECKING <br />
          <span class="font-weight-normal">{{
            salesInvoiceDetails.Checking
          }}</span>
        </p>
        <p class="font-weight-bold position-absolute other h6 d-inline">
          OTHER <br />
          <span class="font-weight-normal">{{
            salesInvoiceDetails.Packing_Other
          }}</span>
        </p>
        <p class="font-weight-bold position-absolute addamt h6 d-inline">
          ADD:
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
            salesInvoiceDetails.ADD
          }}
        </p>

        <p class="font-weight-bold position-absolute less h6 d-inline">
          LESS
        </p>
        <p class="font-weight-bold position-absolute second h6 d-inline">
          SECOND <br />
          <span class="font-weight-normal">{{
            salesInvoiceDetails.Second
          }}</span>
        </p>
        <p class="font-weight-bold position-absolute tp h6 d-inline">
          T.P. <br />
          <span class="font-weight-normal">{{ salesInvoiceDetails.TP }}</span>
        </p>
        <p class="font-weight-bold position-absolute sl h6 d-inline">
          S.L. <br />
          <span class="font-weight-normal">{{ salesInvoiceDetails.SL }}</span>
        </p>
        <p class="font-weight-bold position-absolute fold h6 d-inline">
          FOLD <br />
          <span class="font-weight-normal">{{ salesInvoiceDetails.FOLD }}</span>
        </p>
        <p class="font-weight-bold position-absolute lessother h6 d-inline">
          OTHER <br />
          <span class="font-weight-normal">{{
            salesInvoiceDetails.Second_Other
          }}</span>
        </p>
        <p class="font-weight-bold position-absolute lessamt h6 d-inline">
          LESS:
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
            salesInvoiceDetails.LESS
          }}
        </p>

        <p class="taxable-amt position-absolute h5 font-weight-normal">
          TAXABLE AMOUNT: {{ salesInvoiceDetails.Taxable_Amount }}
        </p>

        <div class="row position-absolute gst">
          <div class="col-md-12">
            <p class="mb-0">
              CGST @ {{ salesInvoiceDetails.CGST }} &nbsp;&nbsp;&nbsp;&nbsp;{{
                salesInvoiceDetails.CGST_Amt
              }}
            </p>
            <p class="mb-0">
              SGST @ {{ salesInvoiceDetails.SGST }} &nbsp;&nbsp;&nbsp;&nbsp;{{
                salesInvoiceDetails.SGST_Amt
              }}
            </p>
            <p class="mb-0">
              IGST @
              {{ salesInvoiceDetails.IGST }}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                salesInvoiceDetails.IGST_Amt
              }}
            </p>
            <p class="mb-0">
              R / OFF
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
                salesInvoiceDetails.Round_Off
              }}
            </p>
          </div>
        </div>

        <p class="grandtotal position-absolute h5 font-weight-normal">
          GRAND TOTAL &nbsp;&nbsp;₹ {{ salesInvoiceDetails.Grand_Total }}
        </p>

        <div class="row position-absolute amt-words-div w-75">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12 mb-2">
                <h5 class="amtwrd">AMOUNT IN WORDS</h5>
                <h5>
                  XXX
                </h5>
              </div>

              <div class="col-md-12">
                <div class="row bank-details">
                  <div class="col-md-6">
                    <h5 class="font-weight-normal">BANK DETAILS</h5>
                    <h6 class="font-weight-bold bank-name">BANK NAME</h6>
                    <h6 class="font-weight-normal">ACCOUNT NO: 123</h6>
                    <h6 class="font-weight-normal">IFSC: SJHS896</h6>
                  </div>

                  <div class="col-md-6">
                    <h5 class="font-weight-normal">PAYMENT DUE</h5>
                    <h5 class="font-weight-bold bank-name">
                      30 Day's From Invoice
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 class="position-absolute thnku">THANK YOU FOR YOUR BUSINESS !</h3>
        <h6 class="position-absolute font-weight-bold tandc">
          TERMS & CONDITIONS :
        </h6>
        <p class="position-absolute mt-2 w-50 tandcvalue">
          1. Don't pay cash or goods to Agent. 2. Goods once's sold will not be
          taken back. 3. Payment is requested by payee A/c Draft only. 4. 18%
          interest will be charged on the net amount after due date. 5. All our
          responsibility ceases as goods leave our godown premises
        </p>
        <h6 class="position-absolute font-weight-bold subjecto">
          * Subject to Ichalkaranji Jurisdiction
        </h6>

        <p class="eoe position-absolute">E. & O.E</p>

        <h6 class="position-absolute font-weight-normal checkedby">
          Checked By
        </h6>

        <h6 class="position-absolute font-weight-bold for">
          FOR
        </h6>

        <h5 class="position-absolute font-weight-normal forvalue">
          {{ salesInvoiceDetails.Firm_Name }}
        </h5>

        <h6 class="position-absolute font-weight-bold proprietor">
          PROPRIETOR
        </h6>
      </div>
    </div>
  </div>
</div> -->
