<div class="modal-dialog mw-100 mx-4" id="print-html">
  <div class="modal-content border-0">
    <div class="modal-body">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              <h4>From Date: {{ From_Date | date: "dd-MM-yyyy" }}</h4>
            </div>
            <div class="col-6">
              <h4>To Date: {{ To_Date | date: "dd-MM-yyyy" }}</h4>
            </div>
          </div>
        </div>

        <div class="card-body">
          <table class="table table-outline table-bordered">
            <thead>
              <tr>
                <th class="text-center">Date</th>
                <th class="text-center">Invoice No</th>
                <th class="text-center">Quality</th>
                <th class="text-center">Meters</th>
                <th class="text-center">Rate</th>
                <th class="text-center">Credit</th>
                <th class="text-center">Debit</th>
                <th class="text-center">Firm Name</th>
              </tr>
            </thead>
            <tbody *ngFor="let key of keysArr">
              <tr>
                <td
                  colspan="8"
                  class="bg-secondary font-weight-bold p-0 pl-4"
                  style="background-color: #c8ced3 !important"
                >
                  {{ key }}
                </td>
              </tr>
              <tr *ngFor="let content of returnArray[key]">
                <td
                  class="text-center"
                  [ngClass]="
                    content.Quality !== ''
                      ? 'table-light font-weight-normal'
                      : 'table-secondary font-weight-bold total-row-border-none'
                  "
                >
                  {{ content.Date | json | replaceQuotes | date: "dd-MM-yyyy" }}
                </td>
                <td
                  class="text-center"
                  [ngClass]="
                    content.Quality !== ''
                      ? 'table-light font-weight-normal'
                      : 'table-secondary font-weight-bold total-row-border-none'
                  "
                >
                  {{ content.Invoice_No | json | replaceQuotes }}
                </td>
                <td
                  class="text-center"
                  [ngClass]="
                    content.Quality !== ''
                      ? 'table-light font-weight-normal'
                      : 'table-secondary font-weight-bold total-row-border-none'
                  "
                >
                  {{ content.Quality | json | replaceQuotes }}
                </td>
                <td
                  class="text-center"
                  [ngClass]="
                    content.Quality !== ''
                      ? 'table-light font-weight-normal'
                      : 'table-secondary font-weight-bold row-border'
                  "
                >
                  {{ content.Total_Meters | json | replaceQuotes }}
                </td>
                <td
                  class="text-center"
                  [ngClass]="
                    content.Quality !== ''
                      ? 'table-light font-weight-normal'
                      : 'table-secondary font-weight-bold total-row-border-none'
                  "
                >
                  {{ content.Rate | json | replaceQuotes }}
                </td>
                <td
                  class="text-center"
                  [ngClass]="
                    content.Quality !== ''
                      ? 'table-light font-weight-normal'
                      : 'table-secondary font-weight-bold row-border'
                  "
                >
                  {{ content.Credit | json | replaceQuotes }}
                </td>
                <td
                  class="text-center"
                  [ngClass]="
                    content.Quality !== ''
                      ? 'table-light font-weight-normal'
                      : 'table-secondary font-weight-bold row-border'
                  "
                >
                  {{ content.Debit | json | replaceQuotes }}
                </td>
                <td
                  class="text-center"
                  [ngClass]="
                    content.Quality !== ''
                      ? 'table-light font-weight-normal'
                      : 'table-secondary font-weight-bold total-row-border-none'
                  "
                >
                  {{ content.Firm_Name | json | replaceQuotes }}
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="totalMeters > 0 || totalCredit > 0 || totalDebit > 0">
              <tr>
                <td colspan="8" style="padding: 0">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3" class="text-right font-weight-bold last-row">
                  Total
                </td>
                <td class="text-center font-weight-bold last-row">
                  {{ totalMeters }}
                </td>
                <td class="last-row">&nbsp;</td>
                <td class="text-center font-weight-bold last-row">
                  {{ totalCredit }}
                </td>
                <td class="text-left font-weight-bold last-row" colspan="2">
                  {{ totalDebit }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="modal-footer d-print-none">
      <a class="btn btn-info font-weight-bold" (click)="printPdf('print-html')">
        <i class="cui-print icons font-xl d-inline"></i> &nbsp;Print
      </a>
    </div>
  </div>
</div>
