// Here you can add other styles

.modal-content {
  margin: 1.75rem auto;
}

@media (min-width: 576px) {
  .modal-dialog {
    margin: 0 auto;
  }
}

/* .table-responsive,
.table-responsive-sm {
  display: table;
} */

.table-responsive,
.table-responsive-sm {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.loginBackground {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-image: url(../assets/img/textile2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.loginCard {
  background-color: transparent;
  border: none;
  color: aliceblue;
}

.loginCardLink {
  color: white;
  text-decoration: none;
  font-size: large;
}

.loginCardLink:hover {
  color: white;
  text-decoration: none;
  font-size: larger;
}
