<div class="row">
  <div class="col d-flex justify-content-center">
    <pagination
      [totalItems]="dataLength"
      (pageChanged)="PageChanged($event)"
      [maxSize]="5"
      [boundaryLinks]="true"
      [itemsPerPage]="itemsPerPage"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    ></pagination>
  </div>

  <div class="col d-flex justify-content-center">
    <div class="form-group row">
      <label class="col-sm-7 col-form-label p-0"
        ><small>Items per page: </small></label
      >
      <select
        class="form-control form-control-sm col-sm-5"
        (change)="SetItemPerPage($event)"
      >
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
  </div>
</div>
